SERVER_PORT=8080

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_PRIVATE_CHAT_ID=-1000000000000
TELEGRAM_ADMIN_IDS=123456789,987654321
TELEGRAM_SUPPORT_USERNAME=AreninaAnna
TELEGRAM_START_PHOTO_PATH=assets/1.jpg

YOOKASSA_ENABLED=true
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://t.me/your_bot_username
YOOKASSA_WEBHOOK_PATH=/api/webhooks/yookassa
YOOKASSA_VAT_CODE=1
YOOKASSA_PAYMENT_SUBJECT=service
YOOKASSA_PAYMENT_MODE=full_payment

APP_ZONE_ID=Europe/Moscow
APP_H2_CONSOLE_ENABLED=false
